@import '@fontsource-variable/open-sans';
@import '@fontsource/lato';
@import '@fontsource/varela-round';
@import '@fontsource-variable/inter';

:root {
	--font-open-sans: 'Open Sans', sans-serif;
	--font-inter: 'Inter Variable', sans-serif;
	--font-lato: 'Lato', sans-serif;
	--font-varela-round: 'Varela Round', sans-serif;
	--primary-text-color: #262A2C;
	font-family: var(--font-open-sans);
}

* {
	box-sizing: border-box;
}

body {
	@apply bg-[#eee] m-0 p-0;
	line-height: 1.2;
	font-size: 16px;
	color: var(--primary-text-color);
}

.spacer {
	@apply h-12 md:h-24 w-full;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
button {
	@apply tracking-wide;
	font-family: var(--font-lato);
}

p,
label,
input,
textarea,
::placeholder {
	font-family: var(--font-inter);
}

p {
	@apply text-base leading-normal;
}

h1 {
	@apply text-3xl lg:text-5xl font-semibold;
}

h2 {
	@apply text-3xl lg:text-4xl font-bold;
}

h3 {
	@apply text-2xl lg:text-3xl font-bold;
}

h4 {
	@apply text-xl lg:text-2xl font-bold;
}

h5 {
	@apply text-lg lg:text-xl font-bold;
}

h6 {
	@apply text-base lg:text-lg font-bold;
}