@import '@fontsource/fira-mono';
@import '@fontsource/bebas-neue';
@import '@fontsource/oswald';
@import '@fontsource/oleo-script';
@import '@fontsource-variable/josefin-sans';
@import '@fontsource/varela-round';
@import '@fontsource/esteban';
@import '@fontsource-variable/alegreya';
@import '@fontsource-variable/rubik/wght-italic.css';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-bebas: 'Bebas Neue', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--font-oleo: 'Oleo Script', system-ui;
	--font-josefin: 'Josefin Sans', sans-serif;
	--font-varela: 'Varela Round', sans-serif;
	--font-alegreya: 'Alegreya', serif;
	--font-esteban: 'Esteban', serif;
	--font-rubik: 'Rubik', sans-serif;
	--color-text: #292929;
	--default-bg: #f3f1ff;
	font-family: var(--font-body);
	color: var(--color-text);
}

* {
	box-sizing: border-box;
}

body {
	background: var(--default-bg);
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.2;
}

nav {
	font-family: var(--font-varela);
}