.container {
  position: relative;
  overflow: hidden;
  &:hover {
    .card_text {
      opacity: 1;
      max-height: 100px;
      transition: 0.2s ease-in;
    }

    .img_container {
      transform: translateY(-25px);
      transition: 0.25s ease all;
    }
  }
}

.clippath {
  clip-path: polygon(15% -5%, 42% -2%, 69% 7%, 102% 25%, 102% 35%, 102% 61%, 102% 102%, -2% 100%, -2% 2%);
}

.img_container {
  transition: 0.2s ease all;
}

.card_text {
  opacity: 0;
  max-height: 0;
  transition: 0.2s ease-in;
  overflow: hidden;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
