@font-face {
  font-family: 'Dosis';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/Dosis-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Dosis-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Dosis-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Dosis-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Dosis-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Dosis-ExtraBold.ttf') format('truetype');
  font-display: swap;
}
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Dosis, normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  font-weight: 400;
  font-size: 18px;
}

img {
  display: block;
}

.backdrop {
  background: rgba(0, 0, 0, 0.25);
  inset: 0;
}

.bg-transparent {
  background: transparent;
}

.container {
  max-width: 1360px;
}

.container-fluid {
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.clip-left {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-right {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 768px) {
  .clip-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .clip-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.curved-bg {
  border-bottom-left-radius: 50% 2%;
  border-bottom-right-radius: 50% 2%;
}

@media screen and (max-width: 768px) {
  .curved-bg {
    border-bottom-left-radius: 100% 2%;
    border-bottom-right-radius: 100% 2%;
  }
}

.dark-placeholder::placeholder {
  color: #000;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.break-word {
  word-break: break-word;
  word-wrap: break-word;
}

.-translate-y-50 {
  transform: translateY(-50%);
}

.demburger-menu {
  .p-dialog-header,
  .p-dialog-content {
    border-radius: 0 !important;
    border: 0 !important;
    background: none !important;
  }

  border-radius: 0 !important;
}

.nav-link {
  padding: 0.75rem 1rem;
  transition: box-shadow 0.3s;
  user-select: none;
  text-decoration: none;
}

.textarea {
  max-height: 132px;
  overflow-y: auto;
  resize: none;
}

.bg-dark {
  background: var(--bg-dark);
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.scrolltop {
  position: fixed !important;
  bottom: 3rem;
  right: 6rem;
  z-index: 99;
  transition: 0.5s ease;

  @media screen and (max-width: 992px) {
    display: none;
  }

  svg {
    filter: drop-shadow(2px 4px 2px rgb(0 0 0 / 0.25));
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
  display: block;
  line-height: 1.2;
}


.bg-black {
  background: #000 !important;
}