.p-menubar {
  border: none !important;
  border-radius: 0 !important;
  z-index: 999;
}

.p-dialog {
  max-height: 100% !important;
}

.p-icon {
  width: 2rem !important;
  height: 2rem !important;
}
.grid {
  margin-top: 0 !important;
}
.active {
  color: #ffffff !important;
  mix-blend-mode: difference;
}

nav > .active {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: #ffffff;
    mix-blend-mode: difference;
    bottom: 0;
    left: 18px;
    right: 18px;
    height: 2px;
  }
  &:hover {
    color: inherit !important;
  }
}